body{
    background-image: url(./assets/pinkclouds.jpeg);
    background-size:auto;
    font-family: 'Darumadrop One', cursive;
}
h1{
    text-align: center;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}


.about-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.about-container .detail {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

.contact-container{
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contact-details{
    padding-left: 50px;
}
